body{
  margin: 0;
  padding: 0;
  height: 100%;
  color: #000;
  font-size: 18px;
  line-height: 1;
  font-family: 'Helvetica Neue',sans-serif;
  font-style: normal;
  font-weight: normal;
  background: #fff;
}
